/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #f4c09f;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #50403A;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}

/* --------------------
        横並び用
-------------------- */
<style>
.row {
  display: flex;          /* 横に並べる */
  align-items: center;
  justify-content: center; 
  height:300px;
  background: #f2f2f2;
}
.row>div{
        width:30%;
}
</style>
<div class="row">
 <div>
  <img src="IMG_2412.png" alt="にじさんじ／佐伯イッテツ">
 </div>
<div>
 <img src="IMG_1794.png" alt="チェリーポップ／初音ミク">
</div>
